@charset "utf-8";
@import url(../css/reset.css);

/* .top::before,
.top::after {
  content: "";
  display: table;
}
.top::after {
  clear: both;
} 방법3 */

.top {
  border: 1px solid #000;
  height: 100px;
  /* height: 50px; 방법1 */
  /* overflow: hidden; 방법2 부모높이, 밑에요소 안끌고 오도록 */
}
.top > div {
  border: 1px solid #f00;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.top .left {
  float: left;
}
.top .right {
  float: right;
}
