@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

/* layout */
#wrap {
  width: 100%;
}
#header {
  height: 42px;
  background: #fff;
}
#banner {
  width: 100%;
  height: 470px;
  background: #bbb;
}
#contents {
}
#footer {
}

/* container */
.container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.4);*/
}

/* cont layout */
#cont1 {
  width: 100%;
  height: 940px;
  background: #f5f6f8;
}
#cont2 {
  width: 100%;
  height: 555px;
  background: #efefef;
}

/* footer layout */
#footer_notice {
  width: 100%;
  height: 71px;
  background: #fff;
}
#footer_info {
  width: 100%;
  height: 242px;
  background: #f7f8f9;
}

/* header */
.header {
  font-family: "맑은 고딕", Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.header li a {
  display: block;
  padding: 3px 15px;
  margin: 7px 0;
  font-size: 13px;
}
.header .list1 {
  float: left;
  overflow: hidden;
}
.header .list1 li {
  float: left;
}
.header .list1 li.green a {
  margin-right: 15px;
  border-radius: 3px;
  background: #00907f;
  color: #fff;
}
.header .list1 li a {
  float: left;
  color: #333;
  font-weight: bold;
}
.header .list1 li::after {
  position: absolute;
  top: 12px;
  content: "";
  background-color: #ccc;
  width: 1px;
  height: 15px;
}
.header .list1 li:last-child::after {
  display: none;
}
.header .list2 li::after {
  position: absolute;
  top: 12px;
  content: "";
  background-color: #ccc;
  width: 1px;
  height: 15px;
}
.header .list2 li.log::after {
  display: none;
}
.header .list2 {
  float: right;
  overflow: hidden;
}
.header .list2 li {
  float: left;
}
.header .list2 li:last-child a {
  padding-right: 0;
}
.header .list2 li.log a {
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.header .list2 li a {
  padding: 3px 15px;
  color: #797979;
}

/* banner right */
.ban_right {
  position: absolute;
  right: 0;
  top: 50px;
  width: 600px;
  height: 270px;
  background: #fff;
}
.ban_right .br_tit {
  background: #fff;
  height: 160px;
  padding: 45px 180px 60px 80px;
}
.ban_right .br_tit h3 {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 44px;
  font-weight: 700;
}
.ban_right .br_tit p {
  position: relative;
  font-size: 14px;
  padding-top: 50px;
}
.ban_right .br_tit p::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #00907f;
  position: absolute;
  left: 0;
  top: 24px;
}
.ban_right .br_tit strong {
  font-weight: normal;
  color: #00907f;
}
.ban_right .br_tit .login_btn {
  position: absolute;
  right: 60px;
  top: 55px;
}
.ban_right .br_tit .login_btn ul {
}
.ban_right .br_tit .login_btn li {
  margin-bottom: 1px;
}
.ban_right .br_tit .login_btn li a {
  display: block;
  width: 80px;
  height: 80px;
  /* line-height: 80px; */
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.ban_right .br_tit .login_btn li.lb1 a {
  background: #db3360 url(../images/user_white.svg) no-repeat center 15px;
  background-size: 25px;
  padding-top: 50px;
  height: 30px;
  transition: all 0.3s ease;
}
.ban_right .br_tit .login_btn li.lb1 a:hover {
  background-color: #c4204c;
}
.ban_right .br_tit .login_btn li.lb2 a {
  line-height: 80px;
  background: #3c3f44;
  transition: all 0.3s ease;
}
.ban_right .br_tit .login_btn li.lb2 a:hover {
  background: #333;
}
.ban_right .br_btn {
  background: #00907f;
  height: 50px;
  margin-top: 25px;
}
.ban_right .br_btn ul {
}
.ban_right .br_btn li {
  position: relative;
  height: 50px;
  float: left;
  overflow: hidden;
  width: 25%;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
}
.ban_right .br_btn li::before {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #62bdb1;
  position: absolute;
  left: 0;
  top: 19px;
}
.ban_right .br_btn li:first-child::before {
  display: none;
}
.ban_right .br_btn li a {
  color: #fff;
  font-weight: bold;
}
/* cont1 layout */
.gnb_event {
  position: absolute;
  left: 20px;
  top: -84px;
  padding: 10px 15px;
  background: #3c3f44;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
}
.gnb_event .fa-plus {
  margin-left: 10px;
  transition: all 0.5s;
}
.gnb_event:hover {
  opacity: 0.5;
}
.gnb_event:hover .fa-plus {
  animation: 0.5s rotateplus;
}
@keyframes rotateplus {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
#nav {
  width: 100%;
  padding: 33px 0;
  background: #fff;
  position: absolute;
  left: 0;
  top: -50px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
#nav .gnb {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
#nav .gnb li {
}
#nav .gnb li a {
  display: block;
  font-size: 17px;
  padding: 5px 10px;
  transition: all 0.3s ease;
  font-weight: bold;
}
#nav .gnb li a:hover {
  background: #00907f;
  color: #fff;
  border-radius: 3px;
}
#nav .gnb_right {
  width: 22%;
  display: flex;
  justify-content: space-around;
}
#nav .gnb_right li.search a {
  display: block;
  font-size: 25px;
  height: 36px;
  line-height: 37px;
}
#nav .gnb_right li.gr a {
  text-align: center;
  width: 102px;
  height: 36px;
  font-size: 13px;
  line-height: 36px;
  display: block;
  /* padding: 10px 20px; */
  border-radius: 3px;
  transition: all 0.2s;
}
#nav .gnb_right li.gr1 a {
  border: 1px solid #e1e1e1;
}
#nav .gnb_right li.gr1 a:hover {
  background: #f4f4f4;
}
#nav .gnb_right li.gr2 a {
  border: 1px solid #404b57;
  background: #404b57;
  color: #fff;
}
#nav .gnb_right li.gr2 a:hover {
  border: 1px solid #000;
  background: #000;
}
#nav .gnb_right li.gr2 a .fa-bars {
  padding-left: 5px;
}

/* card */
#card {
  overflow: hidden;
  padding-top: 70px;
}
#card .card_img {
  float: left;
  width: 50%;
  height: 285px;
  background: #fff;
}
#card .card_desc {
  float: left;
  width: 50%;
  height: 285px;
  background: #fff;
}

/* card_img */
.card_img {
}
.card_img h4 {
  font-size: 14px;
}
.card_img .card_banner {
  width: 534px;
  height: 147px;
}
.card_img .card_banner ul {
  display: flex;
  /* justify-content: space-around; */
}
.card_img .card_banner ul li {
  /* width: 33.333%;
  padding: 10px; */
  width: 147px;
  height: 93px;
}
.card_img .card_banner ul li img {
  width: 100%;
}
.card_img .card_link {
  width: 534px;
  height: 147px;
}
.card_img .card_link ul {
  display: flex;
  /* justify-content: space-between; */
}
.card_img .card_link ul li a {
  display: block;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
}
/* card_desc */
.card_desc {
}

/* event */
#event {
}
