@charset "utf-8";
/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Rammetto+One&display=swap"); */
@font-face {
  font-family: "Noto Sans KR";
  src: url(../webfonts/NotoSansKR-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Noto Sans KR", Arial, sans-serif;
}
header .header_wrap {
  width: 1170px;
  margin: 0 auto;
}
header .top {
  display: flex;
  justify-content: space-between;
  height: 82px;
}
header .left {
  height: 82px;
  line-height: 82px;
}
header .left img {
  height: 52px;
  vertical-align: middle;
}
header .right ul {
  display: flex;
  justify-content: space-evenly;
}
header .right a:hover {
  color: #333;
}
header .right a {
  display: block;
  color: #00913a;
  line-height: 82px;
  padding: 0 10px;
  font-weight: 500;
}
header .gnb_wrap {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px 0;
}
header .gnb {
  /* display: none; */
  width: 60%;
}
.scroll_gnb {
  /* display: none; */
  width: 100%;
  background: #00913a;
  position: absolute;
}
header .gnb > ul {
  width: 100%;
}
header .gnb a {
  width: 100%;
  /* display: block; */
  font-weight: 500;
}
header .gnb > ul,
.scroll_gnb > ul {
  display: flex;
}
header .gnb > ul > li,
.scroll_gnb > ul > li {
  /* width: 12.5%; */
  position: relative;
  cursor: pointer;
}
header .gnb .menu > a,
.scroll_gnb .menu > a {
  margin: 0 15px;
  line-height: 40px;
  text-align: center;
}
header .gnb .menu > a {
  color: #00913a;
}
.scroll_gnb .menu > a {
  color: #fff;
}
header .gnb .sub,
.scroll_gnb .sub {
  /* width: 140px;*/
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* header .gnb li:nth-child(7) .sub,
header .gnb li:nth-child(8) .sub,
.scroll_gnb ul li .sub2:nth-child(2) .sub,
.scroll_gnb ul li .sub2:nth-child(3) .sub {
  width: 190px;
} */
header .gnb .sub a,
header .scroll_gnb .sub a,
header .scroll_gnb .sub_con a {
  display: block;
  text-align: left;
  padding: 0 10px;
  line-height: 40px;
  font-size: 14px;
}
header .gnb .sub a {
  color: #00913a;
}
header .scroll_gnb .sub a,
header .scroll_gnb .sub_con a {
  color: #000;
  white-space: nowrap;
}
header .gnb .sub li:hover a {
  background: #ffda00;
}
header .scroll_gnb .sub li:hover a {
  background: #00913a;
  color: #fff;
}
header .scroll_gnb .sub .sub2 {
  /* width: 140px; */
  position: absolute;
  left: 70px;
  top: 0;
  background: #fff;
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
header .scroll_gnb .sub .sub2 a {
  display: block;
  white-space: nowrap;
}
header .scroll_gnb .sub_con {
  position: absolute;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .scroll_gnb .sub_con .sub2 {
  position: absolute;
  left: 70px;
  top: 0;
  background: #fff;
}
header .scroll_gnb .sub_con li a {
  white-space: nowrap;
}
header .scroll_gnb .sub_con li a:hover {
  background: #00913a;
  color: #fff;
}
header .search {
  position: relative;
  width: 30%;
  text-align: right;
  line-height: 40px;
}
header #search_bar:focus {
  outline: none;
}
header #search_bar {
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  padding: 5px 25px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.fa-magnifying-glass {
  position: absolute;
  right: 15px;
  top: 15px;
  color: black;
}
.fixed {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #00913a;
}
/* header 끝 */

.slide_wrap {
  width: 1170px;
  margin: 0 auto;
}
.slide_wrap .slide {
  position: relative;
  width: 100%;
  height: 600px;
  /* overflow: hidden; */
}
.ban:hover {
  cursor: pointer;
}
.slide_wrap .slide .ban li img {
  width: 1170px;
  height: 600px;
  object-fit: cover;
}
#content1 {
  width: 1170px;
  /* height: 590px; */
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
#content1 .left {
  width: 40%;
  color: #646464;
}
#content1 .left .text_wrap h2 {
  margin-bottom: 30px;
}
#content1 .left .text_wrap p {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
#content1 .left .left_img {
  height: 390px;
  width: 390px;
  margin: 30px;
  /* background-image: url(../images/product6-1.JPG);
  background-size: cover;
  background-position: center; */
}
#content1 .left .left_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#content1 .right {
  width: 60%;
}
#content1 .right ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 217px 1fr;
  grid-auto-rows: 217px 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}
#content1 .right ul li {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
#content1 .right ul li p {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
#content1 .right ul li strong {
  color: #656565;
}
#content1 .right ul li span a {
  font-size: 14px;
  color: #00913a;
}
#content1 .right ul li span a.price {
  text-decoration: line-through;
  padding-left: 5px;
  color: #bbb;
  font-size: 11px;
}
#content1 .right ul li .rect {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 11px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: Arial;
}
#content1 .right ul li .sale {
  background: #f00;
  border: none;
  color: #fff;
}
#content1 .right ul li .best {
  color: #f00;
}
#content1 .right ul li:first-child {
  background-image: url(../images/product1.JPG);
}
#content1 .right ul li:first-child:hover {
  background-image: url(../images/product1-1.JPG);
}
#content1 .right ul li:nth-child(2) {
  background-image: url(../images/product2.JPG);
}
#content1 .right ul li:nth-child(2):hover {
  background-image: url(../images/product2-1.JPG);
}
#content1 .right ul li:nth-child(3) {
  background-image: url(../images/product3.JPG);
}
#content1 .right ul li:nth-child(3):hover {
  background-image: url(../images/product3-1.JPG);
}
#content1 .right ul li:nth-child(7) {
  background-image: url(../images/product4.JPG);
}
#content1 .right ul li:nth-child(7):hover {
  background-image: url(../images/product4-1.JPG);
}
#content1 .right ul li:nth-child(8) {
  background-image: url(../images/product5.JPG);
}
#content1 .right ul li:nth-child(8):hover {
  background-image: url(../images/product5-1.JPG);
}
#content1 .right ul li:nth-child(9) {
  background-image: url(../images/product6.JPG);
}
#content1 .right ul li:nth-child(9):hover {
  background-image: url(../images/product6-1.JPG);
}

#content2 {
  /* width: 100%; */
  background: #ffffe9;
  /* height: 588px; */
}
#content2 .con_wrap {
  background: #ffffe9;
  padding: 65px;
  display: flex;
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}
#content2 .con_wrap div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content2 .con_wrap img {
  width: 95%;
  border-radius: 30px;
}
#content3 {
  width: 1170px;
  height: 490px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
}
#content3 .txt_box {
  width: 30%;
}
#content3 .item_box {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
#content3 .item {
  padding: 0px 10px;
  width: 33.333%;
  display: flex;
  flex-direction: column;
}
/* #content3 .item_img {
  width: 100%;
  height: 50%;
} */
#content3 .item_name {
  color: #656565;
  padding-top: 20px;
  font-size: 20px;
}
#content3 .price {
  color: #00913a;
  font-size: 18px;
}
#content3 .item_img {
  width: 100%;
  height: 100%;
}
#content3 .item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* #content3 .i1 .item_img {
  background-image: url(../images/item1.JPG);
}
#content3 .i1 .item_img:hover {
  background-image: url(../images/item1-1.JPG);
}
#content3 .i2 .item_img {
  background-image: url(../images/item2.JPG);
}
#content3 .i2 .item_img:hover {
  background-image: url(../images/item2-1.JPG);
}
#content3 .i3 .item_img {
  background-image: url(../images/item3.JPG);
}
#content3 .i3 .item_img:hover {
  background-image: url(../images/item3-1.JPG);
} */

#content4 {
  background: #00913a;
}
#content4 .content_wrap {
  margin: 0px auto;
  width: 1170px;
  height: 490px;
  background: #00913a;
}
#content4 h1 {
  text-align: center;
  color: #fff;
  padding: 100px 0 20px;
  font-size: 30px;
}
#content4 .txt_box {
  display: flex;
  justify-content: center;
}
#content4 .txt_box div {
  background: #fff;
  width: 319px;
  height: 185px;
  margin: 20px;
  border-radius: 20px;
}
#content4 .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content4 .txt_box p {
  text-align: center;
  color: #00913a;
  font-weight: 800;
}
#content4 .txt_box p:first-of-type {
  font-size: 18px;
}
#content4 .txt_box p:last-of-type {
  font-size: 36px;
}
#content5 .sns_wrap {
  width: 1170px;
  height: 500px;
  /* padding: 20px 0; */
  margin: 0 auto;
  text-align: center;
}
#content5 .sns_wrap h1 {
  color: #00913a;
  padding: 50px 0;
}
#content5 .sns_wrap ul {
  display: flex;
  justify-content: space-between;
}
#content5 .sns_wrap li {
  width: 25%;
  padding: 10px;
  position: relative;
}
#content5 .sns_wrap li img {
  width: 100%;
  height: 272.5px;
  object-fit: cover;
}
#content5 .sns_wrap li:hover::after {
  content: "";
  left: 10px;
  top: 10px;
  display: block;
  position: absolute;
  width: 272.5px;
  height: 272.5px;
  background: rgba(0, 0, 0, 0.3);
}
/* section 끝 */
footer .info {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
.info > ul {
  padding: 20px 0;
  display: flex;
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.info > ul > li {
  width: 33.333%;
  padding: 10px;
  font-size: 14px;
}
.info > ul > li a {
  display: inline-block;
  width: 100%;
  color: #646464;
}
.info > ul > li span {
  color: #646464;
}
.info > ul > li > a:first-child {
  font-weight: 600;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
}
.info > .left > li a:first-child {
  color: #00913a;
  border-bottom: 1px solid #00913a;
}
.info > ul > li ul li span {
  padding-right: 10px;
}
.info > ul > li ul li span:nth-child(1) {
  font-weight: 600;
}
.info > ul > li ul li:last-child span:nth-child(1) {
  font-weight: 500;
}
.info > ul > li ul li span:nth-child(2) {
  font-size: 12px;
}
.info > .left > li span:last-child {
  font-size: 12px;
}
.info > .right > li:last-child ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.info > .right > li:last-child ul li a {
  background: #646464;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
.info2_wrap {
  background: #00913a;
}
.info2 {
  background: #00913a;
  display: flex;
  height: 200px;
  width: 1170px;
  margin: 0 auto;
}
.img_wrap {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 50px 10px; */
}
.img_wrap img {
  width: 100%;
}
.info2 .text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info2 .txt_top a {
  color: #fff;
  display: inline-block;
  padding: 10px 0;
  font-weight: 600;
}
.info2 .txt_top a:last-child::after {
  display: none;
}
.info2 .txt_top a::after {
  content: "|";
  padding: 10px;
}
.info2 p {
  color: #fff;
  font-size: 14px;
}
.info2 p a {
  font-size: 11px;
  display: inline-block;
  background: #fff;
  color: #00913a;
}
