@charset "utf-8";
@font-face {
  font-family: "Noto Sans KR";
  src: url(../webfonts/NotoSansKR-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Noto Sans KR", Arial, sans-serif;
}
header .header_wrap {
  width: 1170px;
  margin: 0 auto;
}
header .top {
  display: flex;
  justify-content: space-between;
  height: 82px;
}
header .left {
  height: 82px;
  line-height: 82px;
}
header .left img {
  height: 52px;
  vertical-align: middle;
}
header .right ul {
  display: flex;
  justify-content: space-evenly;
}
header .right a:hover {
  color: #333;
}
header .right a {
  display: block;
  color: #00913a;
  line-height: 82px;
  padding: 0 10px;
  font-weight: 500;
}
header .gnb_wrap {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px 0;
}
header .gnb {
  /* display: none; */
  width: 60%;
}
header .gnb > ul {
  display: flex;
}
/* header .gnb > ul > li > a::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 3px;
  background: #ffda00;
  left: 3px;
  bottom: 5px;
  transform: scale(0);
  transition: all 0.5s;
} 
header .gnb > ul > li:hover > a::after {
  transform: scale(1);
} */
header .gnb a {
  width: 100%;
  display: block;
  font-weight: 500;
}
header .gnb > ul > li {
  /* width: 12.5%; */
  position: relative;
  cursor: pointer;
}
header .gnb .menu > a {
  /* margin: 0 15px;
    line-height: 40px;
    text-align: center; */
  /* border: 1px solid #f00; */
  box-sizing: border-box;
  display: block;
  text-align: left;
  padding: 0 10px;
  line-height: 40px;
}
header .gnb .menu > a.on {
  background: #00913a;
  color: #fff;
  border-radius: 20px;
}
header .gnb .menu > a {
  color: #00913a;
}
header .gnb .sub {
  width: 140px;
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .gnb .sub {
  overflow: hidden;
  border-radius: 10px;
}
header .gnb li:nth-child(7) .sub,
header .gnb li:nth-child(8) .sub {
  width: 190px;
}
header .gnb .sub a {
  color: #00913a;
  display: block;
  text-align: left;
  padding: 0 10px;
  line-height: 40px;
  font-size: 14px;
}
header .gnb .sub li:hover a {
  background: #ffda00;
}
header .search {
  position: relative;
  width: 30%;
  text-align: right;
  line-height: 40px;
}
header #search_bar:focus {
  outline: none;
}
header #search_bar {
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  padding: 5px 25px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.fa-magnifying-glass {
  position: absolute;
  right: 15px;
  top: 15px;
  color: black;
}

/* header end */

#top div {
    position: relative;
    width: 100%;
    height: 340px;
    background: url(../images/bg2.jpg);
    background-position: center;
}
#top div::before {
    content: "";
    width: 100%;
    height: 340px;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    background: rgba(0,0,0,0.5);
}
#top p {
    /* border: 1px solid #f00; */
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
} 
span:first-child {
    padding: 10px;
    border: 1px solid #fff;
}
span:last-child{
    padding-top: 30px;
    font-size: 28px;
}