@charset "utf-8";
/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Rammetto+One&display=swap"); */
@font-face {
  font-family: "Noto Sans KR";
  src: url(../webfonts/NotoSansKR-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Noto Sans KR", Arial, sans-serif;
}
#content3 {
  width: 1170px;
  height: 490px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
}
#content3 > div {
  transform: translateX(100px);
  transition: all 1s;
}
#content3 > div.on {
  transform: translateX(0);
}
#content3 .txt_box {
  width: 300px;
}
#content3 .item_box {
  width: 1620px;
}
#content3 .item_box .box_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* width: 810px; */
  /* overflow: hidden; */
}
.btn {
  /* width: 100%; */
}
.btn li {
  position: absolute;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 1;
  width: 15px;
  height: 20px;
  background: url(../images/btns.png);
  top: 40%;
}
.btn li.prev {
  left: 0px;
  background-position: 0 -45px;
}
.btn li.next {
  right: 0px;
  background-position: -15px -45px;
}
#content3 .item {
  padding: 0px 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#content3 .item_img {
  width: 100%;
  height: 50%;
}
#content3 .item_name {
  color: #656565;
  padding-top: 20px;
  font-size: 15px;
}
#content3 .price {
  color: #00913a;
  font-size: 15px;
}
#content3 .item_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#content3 .i1 .item_img,
#content3 .i4 .item_img {
  background-image: url(../images/item1.JPG);
}
#content3 .i1 .item_img:hover,
#content3 .i4 .item_img:hover {
  background-image: url(../images/item1-1.JPG);
}
#content3 .i2 .item_img,
#content3 .i5 .item_img {
  background-image: url(../images/item2.JPG);
}
#content3 .i2 .item_img:hover,
#content3 .i5 .item_img:hover {
  background-image: url(../images/item2-1.JPG);
}
#content3 .i3 .item_img,
#content3 .i6 .item_img {
  background-image: url(../images/item3.JPG);
}
#content3 .i3 .item_img:hover,
#content3 .i6 .item_img:hover {
  background-image: url(../images/item3-1.JPG);
}
.item_box .page {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}
.item_box .page li {
  display: inline-block;
}
.item_box .page li a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  text-indent: -9999px;
}
.item_box .page li a:hover,
.item_box .page li a.on {
  background: #0ff;
}
