@charset "utf-8";
@font-face {
  font-family: "notosans";
  src: url(../webfonts/NotoSansKR-Regular.woff) format("woff");
}
@font-face {
  font-family: "merri";
  src: url(../webfonts/Merriweather-Regular.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #555;
}
body {
  font-size: 1em;
  font-family: "notosans", "merri", dotum, Arial, sans-serif;
}
header {
  width: 100%;
  background: #fff;
  z-index: 10;
}
header nav {
  width: 100%;
}
header #nav {
  height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  z-index: 5;
}
header.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
/* header #nav.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
} */
header ul li {
  width: 25%;
}
header ul li a {
  display: block;
  text-align: center;
  color: #000;
  font-family: "notosans";
  font-weight: bold;
  font-size: 1.5em;
}
section {
  width: 100%;
  height: 100vh;
}
#main {
  position: relative;
  /* height: 100vh; */
  background-image: linear-gradient(
    to right top,
    #ffe259,
    #ffd354,
    #ffc451,
    #ffb550,
    #ffa751
  );
}
#main .text {
  color: #fff;
  font-size: 2em;
  width: 100%;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  text-align: center;
}
#main .text span {
  color: #f46b45;
}
#main .text .anitext {
  animation: showText 1s both;
}
#main .text .anitext:first-child {
  animation-delay: 0.1s;
}
#main .text .anitext:last-child {
  animation-delay: 0.2s;
}
@keyframes showText {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.custom-shape-divider-bottom-1674104964 {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0px;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1674104964 svg {
  position: relative;
  display: block;
  width: calc(117% + 1.3px);
  height: 120px;
}
.custom-shape-divider-bottom-1674104964 .shape-fill {
  fill: #ffffff;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#profile {
  width: 100%;
}
#profile > .profile_wrap {
  padding: 20px 0;
  position: relative;
  max-width: 1200px;
  margin: 100px auto;

  /* border: 1px solid rgba(0, 0, 0, 0.5);*/
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  /*background: url(../images/bg1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
#profile > .profile_wrap h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 20px;
}
#profile > .profile_wrap .container {
  display: flex;
  justify-content: space-around;
}

#profile > .profile_wrap .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
#profile > .profile_wrap .photo img {
  width: 100%;
}
#profile > .profile_wrap .photo p {
  color: #ffa751;
  margin-top: 10px;
  text-align: center;
}
#profile > .profile_wrap .info {
  width: 50%;
}
#profile > .profile_wrap .info > .txt {
  display: flex;
}
#profile > .profile_wrap .info .txt ul {
  background: #f9f9f9;
  /* border-radius: 20px; */
  margin-bottom: 20px;
  padding: 0 10px;
}
#profile > .profile_wrap .info .txt ul:nth-child(2) {
  width: 50%;
  margin-left: 20px;
}
#profile > .profile_wrap .info .txt ul li {
  padding: 5px 0;
}
#profile > .profile_wrap > .info ul strong {
  padding: 10px 0;
}
.skill_name {
  margin: 20px 0;
}
.skill_bar {
  height: 14px;
  background: #282828;
  border-radius: 3px;
}
.skill_per {
  height: 14px;
  background: #ffa751;
  border-radius: 3px;
  position: relative;
  /* animation: fillBars 2.5s 1; */
  animation: fillBars 2.5s 1 paused;
}
.skill_per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translate(50%);
}
.skill_per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -15px;
  right: 0;
  transform: translate(50%) rotate(45deg);
  border-radius: 2px;
}
#web {
  position: relative;
  top: 50px;
  width: 100%;
  height: 2000px;
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.custom-shape-divider-top-1674138656 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1674138656 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1674138656 .shape-fill {
  fill: #fff;
}

#web .container {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 100px;
}
#web .container h1 {
  font-size: 2em;
  padding: 20px;
}
#web .project {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#web .project div {
  width: 50%;
}
#web .text {
  height: 100%;
  padding: 20px;
  margin: 0 20px;
  background: #f9f9f9;
  animation: showText 1s both;
  /* 스크롤 탑으로 애니메이션 넣기 */
}
#web .text > * {
  padding: 10px;
}
#web .text .skillbox > span {
  padding: 2px 10px;
  border: 2px solid #f46b45;
  border-radius: 10px;
}
#web .text .link > a {
  padding: 5px 10px;
  background-color: #f46b45;
  color: #fff;
  border-radius: 10px;
}
#web .thumnail {
  width: 100%;
  position: relative;
}
#web .thumnail div {
  position: absolute;
  top: -100px;
  /* margin-top: 100px; */
  width: 100%;
}
#web .thumnail img {
  width: 90%;
}
#web .second,
#web .third {
  margin-top: 200px;
}
.custom-shape-divider-bottom-1674145517 {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674145517 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1674145517 .shape-fill {
  fill: #ffffff;
}

#contact {
  height: 800px;
}
#contact .contact_wrap {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#contact .contact_wrap h1 {
  text-align: center;
}
#contact .contact_wrap > div {
  width: 500px;
  margin-top: 100px;
  background: #f9f9f9;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
}
#contact .contact_wrap > div > * {
  padding: 10px 0;
}
